<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" >
  <Target Name="WinPackage">
    <Message Text="Packing Windows Application" />

    <Zip ZipFileName="$(DropsPath)\$(ProjectToPublish).zip"
         Files="@(WinAppFiles)"
         WorkingDirectory="$(SolutionsPath)\$(ProjectToPublish)\bin\$(Configuration)\"
         Flatten ="false"
         ZipLevel="10"/>
  </Target>
  
</Project>
